.nav-item
{
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  margin: 0px;
}
.nav-link
{
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0px;
}

.row{
  text-align: center;
}

.card{
  margin: 50px auto; 
  float: none; 
  margin-bottom: 10px; 
  border: 1px solid #14274E !important;
}

.card-img-top{
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


