<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Blender Testrender</title>

</head>
  <body style="background-color: black;">
  <!--  Our code  -->
    <div id="gl" style="width: auto;height: auto">
        <img src="{{ url_for('static', filename='flask_render.png') }}">Img Platzhalter</img>
    </div>
    <!--div class="slidecontainer">
      <input type="range" min="0" max="360" value="180" class="slider" id="myRange" style="position:absolute;">
    </div-->
  </body>
</html>