{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/index_style.css') }}">
{% endblock %}
{% block content %}

    <meta charset="UTF-8"/>
    <title>Three.js 101</title>

    <!--  Three.js CDN  -->
    <!--script type="importmap">
      "imports:" 
      {
        "three": "{{ url_for('static', filename='/js/three.js' ) }}",
        "GLTF": "{{ url_for('static', filename='/js/GLTFLoader.js' ) }}",
        "drag": "{{ url_for('static', filename='/js/DragControls.js' ) }}"
      }
    </script -->
    <script src="{{ url_for('static', filename='/js/three.js' ) }}"></script>
    <script src="{{ url_for('static', filename='/js/GLTFLoader.js' ) }}"></script>
    <script src="{{ url_for('static', filename='/js/DragControls.js' ) }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lil-gui@0.16"></script>
    <!--script>
      var GUI = lil.GUI;
    </script-->

  <style>
    .lil-gui { 
      margin-top: 7%;
      margin-right: 3%;
	    --background-color: #f2f2f2;
      --text-color: #595959;
	    --padding: 15px;
      --title-background-color: #86D3D9;
      --title-text-color: #595959;
      --hover-color: #86D3D9;
      --widget-color: #595959;
      --number-color: #f2f2f2;
      border-radius: 10px;
      --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .lil-gui input{
      color: #f2f2f2;
    }

    .lil-gui.root > .title {

  border-radius: 10px;
}
  </style>

  <!--  Our code  -->
  <center>
    <div id="gl" style="width: auto; height: auto;">
      <canvas id="myCanvas" width="auto" height="auto" style="position: relativ; border-radius: 15px;"></canvas>
    </div>
  </center>

    <!--p id="screen-log" style="color:white"></p-->
    <script src="{{ url_for('static', filename='/js/room.js' ) }}"></script>
{% endblock %}