<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Three.js 101</title>

    <!--  Three.js CDN  -->
    <script src="{{ url_for('static', filename='/js/three.js' ) }}"></script>
    <script src="{{ url_for('static', filename='/js/GLTFLoader.js' ) }}"></script>
    <script src="{{ url_for('static', filename='/js/DragControls.js' ) }}"></script>
</head>
  <body style="background-color: black;">
  <!--  Our code  -->
    <div id="gl" style="width: auto;height: auto">
        <canvas id="myCanvas" width="auto" height="auto" style="position: relativ;"></canvas>
    </div>
    <p>Move your mouse to see its position.</p>
    <p id="screen-log" style="color:white"></p>
    <script src="{{ url_for('static', filename='/js/room.js' ) }}"></script>
  </body>
</html>