<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Three.js 101</title>

    <!--  Three.js CDN  -->
    <script src="{{ url_for('static', filename='/js/three.js' ) }}"></script>
    <script src="{{ url_for('static', filename='/js/GLTFLoader.js' ) }}"></script>
    <script src="{{ url_for('static', filename='/js//GLTFLoader.js' ) }}"></script>

    <link rel="shortcut icon" href="#"/>


</head>
<body>
<!--  Our code  -->

<div id="container" style="width: 500px;height: 500px">
    <canvas id="canvas" style="width: 500px;height: 500px"></canvas>

</div>
<script type="module" src="{{ url_for('static', filename='/js/LampDisplay2.js' ) }}"></script>

</body>
</html>