{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row g-2">
        <h1 style="margin-bottom:30px; font-family:Monospace; hyphens: auto; color:#D06ED4;text-align: center">Admin-Page<br></h1>
        <ul class="list-group">
            <li  class="list-group-item">USERS</li>
            {% for user in users %}

            <li class="list-group-item">{{user.userID}}      userName: {{ user.userName }}      Admin: {{ user.admin }}
            <a href="{{ url_for('user_delete',id=user.userID) }}"
                                   class=" btn btn-link">Delete</a>
            </li>
            {% endfor %}
        </ul>
        <ul style="margin-top:10px" class="list-group">
            <li  class="list-group-item">LAMPS</li>
            {% for lamp in lamps %}

            <li class="list-group-item">{{lamp.lampID}}      lampName: {{ lamp.lampName }}
            <a href="{{ url_for('loeschen',id=lamp.lampID) }}"
                                   class=" btn btn-link">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}