{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<div class="container-md">

    <div class="row justify-content-center">
        <div class="col-6  ">
            <h1 style="font-family:Monospace; hyphens: auto; color:#D06ED4;text-align: center; margin-bottom: 30px">
                Register<br></h1>

            <form action="/user/add" method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="form-floating mb-3">
                    {{form.name(type="text", class="form-control", id="adress", placeholder="Adress")}}
                    <label for="adress">Username</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.password(type="text", class="form-control", id="adress", placeholder="Adress")}}
                    <label for="adress">Password</label>
                </div>
                
                <div style="margin-top: 30px">
                    <div class="d-grid gap-2">
                        {{form.submit(class="btn btn-outline-primary")}}
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
{% endblock %}