{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/index_style.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row g-2">
        <h1 style="margin-bottom:30px; font-family:Monospace; hyphens: auto; color:#D06ED4;text-align: center">YOUR ROOMS
        </h1>
        <br>
        <div class="card-group">
            {% for render in renders %}
                <div class="col-12 col-md-6 col-lg-3 g-2">
                    <div class="card mb-4 p-3  border-primary" style="width: 18rem;">
                        <img class="card-img-top" src="{{ url_for("static", filename="renders/" + render.imgName) }}"
                             onerror="{{ url_for("static", filename="images/inApp/8974589526046.jpg") }}" alt="Card image cap">
                        <div class="card-body">

                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}