{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/index_style.css') }}">
{% endblock %}
{% block content %}

    <meta charset="UTF-8"/>
    <title>Three.js 101</title>

  <!--  Our code  -->
  <center>
    <div id="gl" style="width: auto; height: auto;">
      <canvas id="myCanvas" width="auto" height="auto" style="position: relativ; border-radius: 15px;"></canvas>
    </div>
  </center>

    <!--p id="screen-log" style="color:white"></p-->
    <script type="module" src="/js/room.js"></script>
{% endblock %}
