#container-box{
  width: 100%;
}
.col{
  height:fit-content;
  text-align:center;
  background-color: #f6f4f1;
  height: 100vh;
  width: 100%;
}
#col-test{
  height: 100vh;

}

#background{
  position: relative;
  height: 100vh;
  width: 100%;
  border-top-left-radius: 15px;
  background-image: url(/images/room_setup.jpg);
  background-position-x: 72%;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
.blur{
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, blue, alpha);
}
.content{
  margin-top: 3%;
  border-radius: 15px;
  backdrop-filter:blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 3%;
}
#col-1{
  border-top-left-radius: 15px;
  background-image: url(/images/room_setup.jpg);
  background-position-x: 72%;
  background-size: cover;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  /*filter: blur(6px);
  -webkit-filter: blur(6px);*/
}
#col-1:hover{
  border-top-left-radius: 15px;
  transition: ease-in 0.5s;
  transition: ease-out 0.5s;
  /*filter: blur(0px);
  -webkit-filter: blur(0px);*/
}
#col-2{
  background-image: url(/images/phillips_lamp.jpg);
  background-position-x: 85%;
  background-size: cover;
  /*filter: blur(6px);
  -webkit-filter: blur(6px);*/
}
#col-2:hover{
  transition: ease-in 0.5s;
  transition: ease-out 0.5s;
  /*filter: blur(0px);
  -webkit-filter: blur(0px);*/
}
#col-3{
  border-top-right-radius: 15px;
  background-image: url(/images/company.jpg);
  background-position-x: center;
  background-size: cover;
  /*filter: blur(6px);
  -webkit-filter: blur(6px);*/
}
#col-3:hover{
  border-top-right-radius: 15px;
  transition: ease-in 0.5s;
  transition: ease-out 0.5s;
  filter: blur(0px);
  /*-webkit-filter: blur(0px);
  border-top-right-radius: 15px;*/
}
.btn-lg{
  color: rgba(21,28,72,255);
  border: none;
  align-self: center;
  box-shadow: 18%;
}
#infotext{
  margin-top: 5%;
}
.background{
  border-top-left-radius: 15px;
  column-fill: auto;
}
#col-test{
  border-top-left-radius: 15px;
  background-size: cover;
}