{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<div class="container-md">

    <div class="row justify-content-center">
        <div class="col-6  ">
            <h1 style="margin-bottom:30px; font-size: xx-large;font-family: monospace; hyphens: auto; color:#f768ff;text-align: center">REGISTER<br></h1>


            <form action="register" method="POST" enctype="multipart/form-data">
                <div style="margin-bottom: 30px" class="form-group">
                     

                    <input name="name" type="text", class="form-control", id="name", aria-describedby="emailHelp",
                            placeholder="Username">
                </div>
                <div style="margin-bottom: 30px" class="form-group">
                    <input name="password" type="text" class="form-control" id="password" aria-describedby="emailHelp"
                           placeholder="Password">
                </div>
                <div style="margin-top: 30 px">
                    <button type="submit" class="btn btn-outline-primary btn-block justify: center">Submit
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
{% endblock %}