{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script  src="{{ url_for('static', filename='/js/three.js' ) }}"></script>
    <script  src="{{ url_for('static', filename='/js/GLTFLoader.js' ) }}"></script>
    <script  src="{{ url_for('static', filename='/js/DragControls.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='/js/TextGeometry.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='/js/TTFLoader.js' ) }}"></script>
    <script type="module" src="{{ url_for('static', filename='/js/FontLoader.js' ) }}"></script>
{% endblock %}
{% block content %}
<body style="background-color: rgb(255, 255, 255);">
  <!--  Our code  -->
    <div id="gl" style="width: auto;height: auto">
        <canvas id="myCanvas" width="auto" height="auto" style="position: relativ;"></canvas>
    </div>
    <div class="slidecontainer">
      <input type="range" min="0" max="360" value="180" class="slider" id="myRange" style="position:absolute;">
    </div>
    <script src="{{ url_for('static', filename='/js/landingPage.js' ) }}">

    </script>
  </body>

{% endblock %}

